.AuthPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.AuthPage .login-signup {
  background: rgba(0, 0, 0, 0.7);
  padding: 1.6rem;
  border-radius: 2rem;
  width: 50vw;

}

.AuthPage .p-btn {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.AuthPage .p-btn button {
  background: none;
  border: none;
  color: var(--tertiary)
}

.AuthPage .p-btn button:hover {
  text-decoration: underline;
}

.AuthPage h1 {
  font-family: "Rubik Mono One" ;
  font-size: 4rem;
  color: var(--tertiary)
}