.FlightCard {
  background: rgba(0, 0, 0, 0.7);
  padding: 1.6rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  
}


.FlightCard .flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.FlightCard .flex-row div {
  margin-right: 3rem;
}

.FlightCard .flex-icon {
  display: flex;
  align-items: center;
}

.FlightCard .icon-2 {
  margin: 1rem;
}

.FlightCard .details {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem .5rem;
  align-items: center;
}

.FlightCard .details-btn {
  color: white;
  background: none;
  border: none;
  cursor: pointer;

}

.FlightCard h3 {
  color: var(--tertiary);
}

.FlightCard i {
  color: var(--tertiary);
}

.dropdown-enter {
  max-height: 0;
}

.dropdown-enter-active {
  max-height: 1000px;
  transition: max-height 0.3s ease-in-out;
}

.dropdown-exit {
  max-height: 1000px;
}

.dropdown-exit-active {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}


