.TicketsSearchPage {
  margin: 2rem 4.2rem;
}

.TicketsSearchPage form {
  /* display: flex;
  flex-direction: column; */
  text-align: left;
  /* margin: 0 1.2rem; */
  background: rgba(0, 0, 0, 0.7);
  padding: 1.6rem;
  border-radius: 2rem;
  margin-top: 2rem;

}

.TicketsSearchPage h1 {
  margin-bottom: 0rem;
} 

.TicketsSearchPage input {
  font-size: 1.6rem;
  border:none;
  border-radius: 100px;
  padding: .4rem 2rem;
  margin-right: 1rem;
  box-shadow: 2px 2px 5px rgb(255, 255, 255, .2);
}

.TicketsSearchPage select {
  font-size: 1.6rem;
  border:none;
  border-radius: 100px;
  padding: .4rem 2rem;
}

.TicketsSearchPage .search-btn {
  font-size: 1.6rem;
  margin-top: 3rem;
  border: none;
  background-color: var(--tertiary);
  border-radius: 100px;
  padding: .4rem 2rem;
}

.TicketsSearchPage label {
  margin-top: .4rem;
}

.TicketsSearchPage .flex-col {
  display: flex;
  flex-direction: column;
  position: relative;
}

.rocket input {
  padding-left: 3rem;
}

.TicketsSearchPage .input-i {
  position: absolute; 
  left: 15px; 
  top: 3.4rem; 
  color: gray;
}

.TicketsSearchPage .inputs-container {
  display: flex;
  justify-content: space-between;

}

.TicketsSearchPage .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TicketsSearchPage .search-btn:hover {
  background-color: var(--secondary);
}

.TicketsSearchPage .banner {
  background-image: url(../../../public/Anything\ worth\ having\ takes\ time..png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin-top: 2rem;
  height: 70vh;
  border-radius: 2rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}



@media (max-width: 801px) {
  .TicketsSearchPage {
    margin: 2rem 2rem;
  }
  
  .TicketsSearchPage form {
    text-align: left;
    margin: 0 1.2rem;
  }

  .TicketsSearchPage .inputs-container {
    display: flex;
    flex-direction: column;
  }
  
  .TicketsSearchPage input {
    font-size: 1.6rem;
    border:none;
    border-radius: 100px;
    padding: .4rem 2rem;
  }
  
  .TicketsSearchPage select {
    font-size: 1.6rem;
    border:none;
    border-radius: 100px;
    padding: .4rem 2rem;
  }
  
  .TicketsSearchPage button {
    font-size: 1.6rem;
    margin-top: 3rem;
    border: none;
    background-color: var(--tertiary);
    border-radius: 100px;
  }
  
  .TicketsSearchPage label {
    margin-top: .4rem;
  }

  .TicketsSearchPage .input-i {
    position: absolute; 
    left: 15px; 
    top: 3.4rem; 
    color: gray;
  }

  .rocket input {
    padding-left: 4rem;
  }

} 

