.FlightDetail .grid-container{
  
  /* height: 15rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 3fr 3fr;
  margin-top: 2rem;
}

.FlightDetail {
  text-align: left;
}


.FlightDetail .duration {
  display: flex;
  align-items: center;
}

.FlightDetail .graph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid white;
  padding-left: 1rem;
}

.FlightDetail .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.FlightDetail li {
  list-style-type: none;
  
}

.FlightDetail ul {
  padding-left: 0;
}

.FlightDetail .select-flight-btn {
  font-size: 1rem;
  margin-top: 1rem;
  border: none;
  background-color: var(--tertiary);
  border-radius: 100px;
  padding: .2rem 2rem;
}

.FlightDetail .select-flight-btn:hover {
  background-color: var(--secondary);
}

.FlightDetail .price {
  color: var(--secondary)
}

@media (max-width: 801px) {
  .FlightDetail .grid-container{
    display: flex;
    flex-direction: column;
  }

  .FlightDetail .duration {
    display: none;
  }

  .FlightDetail .graph {
    display: none;
  }

  .FlightDetail .info {
    display: none;
  }
}


